include ../../mixins/pagination.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title News - Events
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="../css/reset.css")
    link(rel="stylesheet" href="./css/news-events.css")
  body
    .fullContainer.banner(id="homeSection")
      header
        .container
          .logo
            img(src="../../images/logo.png" alt="NGO logo")
          nav
            ul
              li
                a(href="../home/index.html") Quay lại trang chủ
    section.fullContainer(id="aboutSection")
      .container
        .newsSection
          each newsItem in news
            .newsItem
              h3= newsItem.title
              img(src=newsItem.thumbnail alt=newsItem.title)
              .newsContent
                p= newsItem.description
                button.detailButton(onclick=`toggleDetails('${newsItem.id}')`) Xem chi tiết
                .newsDetails(id=newsItem.id)
                  p= newsItem.content
                  if newsItem.link
                    p
                      a.register-link(href=newsItem.link target="_blank") Đăng kí hiến máu

    +pagination(pagination)                   
    script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
    script(src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
    script(src="../../js/news.js")
